.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .9em;
  margin: 100px;
  height: 200px;
  width: 300px;
  left: 300px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 35px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -30px;
	margin-left: -35px;

}
