/* General setup */
/* Remember to always comment*/

/* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

/*section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

/*header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}*/

/* WRITE YOUR CODE BELOW HERE */
body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}
/* styling the div grid-container */
.grid-container div{
  border-radius: 0px;
  padding:0px;
}
/* styling the class grid-container */
.grid-container{
display: grid;
grid-gap:5px;
grid-auto-rows: 100px;
grid-template-areas:
'header header header'
'nav article ads'
'footer footer footer';
grid-template-rows:60px 1fr 60px;
grid-template-columns: 15% 1fr 20%;
height: 100vh;
margin: 0px;
}
header,footer,section,nav,div{
padding: 0px;
background-color: white;
}
.header,.footer{
background-color: grey;
grid-area: header,footer;
}
.section{
background-color: pink;
grid-area: section
}
.aside,.nav{
grid-area: aside,nav;
background-color: orange;
}
